/* screen - tripwise */

.tripwise {
  background-color: var(--white);
  cursor: pointer;
  height: 14499px;
  overflow: hidden;
  overflow-x: hidden;
  position: relative;
  width: 1920px;
}
.tripwise .about-9tmuuW {
  background-color: transparent;
  height: calc(100.00% + 2px);
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 14px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: 52px;
}
.tripwise .about-ZEb3Bi {
  background-color: transparent;
  height: calc(100.00% + 2px);
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 61px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: calc(100.00% + 2px);
}
.tripwise .chevron-2x-11x-copy-C61RwL {
  background-color: transparent;
  height: 64px;
  left: 915px;
  overflow: hidden;
  position: absolute;
  top: 998px;
  width: 91px;
}
.tripwise .competitor-analysis-table-oYVcHC {
  background-color: transparent;
  height: calc(100.00% + 2px);
  left: 0px;
  letter-spacing: 9.60px;
  line-height: 41px;
  position: absolute;
  text-align: left;
  top: 4px;
  white-space: nowrap;
  width: calc(100.00% + 2px);
}
.tripwise .component-10-2-lvXcn7 {
  background-color: transparent;
  bottom: calc(39.29% - 24px);
  cursor: pointer;
  height: 61px;
  position: absolute;
  right: 191px;
  width: 294px;
}
.tripwise .component-11-2-lvXcn7 {
  background-color: transparent;
  bottom: calc(39.29% - 24px);
  cursor: pointer;
  height: 61px;
  left: calc(20.93% - 45px);
  pointer-events: auto;
  position: absolute;
  transition: all 0.2s ease;
  width: 217px;
}
.tripwise .component-11-2-lvXcn7:hover {

transform: scale(1.1);
}
.tripwise .component-8-2-lvXcn7 {
  background-color: transparent;
  bottom: calc(39.29% - 24px);
  cursor: pointer;
  height: 61px;
  left: calc(43.46% - 143px);
  position: absolute;
  width: 329px;
}
.tripwise .component-9-2-lvXcn7 {
  background-color: transparent;
  bottom: calc(39.29% - 24px);
  cursor: pointer;
  height: 61px;
  position: absolute;
  right: calc(33.28% - 72px);
  width: 217px;
}
.tripwise .comps2x-C61RwL {
  background-color: transparent;
  height: 721px;
  left: 289px;
  object-fit: cover;
  position: absolute;
  top: 8727px;
  width: 1342px;
}
.tripwise .contact-9tmuuW {
  background-color: transparent;
  height: calc(100.00% + 2px);
  letter-spacing: 0.00px;
  line-height: 14px;
  position: absolute;
  right: -2px;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: 69px;
}
.tripwise .contact-IoPQhO {
  background-color: transparent;
  height: calc(100.00% + 2px);
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 61px;
  pointer-events: auto;
  position: absolute;
  text-align: left;
  top: 0px;
  transition: all 0.2s ease;
  white-space: nowrap;
  width: calc(100.00% + 2px);
}
.tripwise .contact-IoPQhO:hover {

transform: scale(1.1);
}
.tripwise .emily-a-digital-ty-and-covid-al-ajXPUQ {
  background-color: transparent;
  color: var(--white);
  font-family: 'Helvetica', Helvetica;
  font-size: 20px;
  font-style: normal;
  height: calc(100.00% + 2px);
  left: 0px;
  letter-spacing: 4.00px;
  line-height: 25px;
  position: absolute;
  text-align: center;
  top: -2px;
  white-space: nowrap;
  width: calc(100.00% + 2px);
}
.tripwise .final-thoughts-ld-as-major-fea-C61RwL {
  background-color: transparent;
  height: auto;
  left: 238px;
  letter-spacing: 4.00px;
  line-height: 25px;
  position: absolute;
  text-align: left;
  top: 14048px;
  white-space: nowrap;
  width: auto;
}
.tripwise .group-1048-UYZBzt {
  background-color: transparent;
  height: 100%;
  left: 0px;
  position: absolute;
  top: 0px;
  width: 100%;
}
.tripwise .group-1069-C61RwL {
  background-color: transparent;
  height: 48px;
  left: 451px;
  position: absolute;
  top: 8603px;
  width: 971px;
}
.tripwise .group-1163-C61RwL {
  background-color: transparent;
  height: 97px;
  left: 760px;
  position: absolute;
  top: 13855px;
  width: 400px;
}
.tripwise .group-368-C61RwL {
  background-color: transparent;
  height: 14px;
  left: 42px;
  position: absolute;
  top: 14467px;
  width: 756px;
}
.tripwise .group-369-C61RwL {
  background-color: transparent;
  height: 20px;
  left: 1775px;
  position: absolute;
  top: 14463px;
  width: 104px;
}
.tripwise .group-377-C61RwL {
  background-color: var(--azalea);
  height: 117px;
  left: -181px;
  position: fixed;
  top: 0px;
  width: 2257px;
}
.tripwise .group-437-xTX1aG {
  background-color: transparent;
  height: 100%;
  left: 0px;
  position: relative;
  top: 0px;
  width: 100%;
}
.tripwise .group-438-C61RwL {
  background-color: transparent;
  height: 95px;
  left: 218px;
  position: absolute;
  top: 3631px;
  width: 1462px;
}
.tripwise .group-9402x-C61RwL {
  background-color: transparent;
  height: 442px;
  left: 209px;
  object-fit: cover;
  position: absolute;
  top: 4943px;
  width: 1539px;
}
.tripwise .high-fidelity-prototype-C61RwL {
  background-color: transparent;
  height: auto;
  left: 527px;
  letter-spacing: 9.60px;
  line-height: 41px;
  position: absolute;
  text-align: left;
  top: 11473px;
  white-space: nowrap;
  width: auto;
}
.tripwise .high-fidelity-prototype-link-C61RwL {
  background-color: transparent;
  height: auto;
  left: 718px;
  letter-spacing: 4.00px;
  line-height: 41px;
  position: absolute;
  text-align: left;
  top: 13610px;
  white-space: nowrap;
  width: auto;
}
.tripwise .httpswwwfigmaco-ownpage-id03-a1-C61RwL {
  background-color: transparent;
  cursor: pointer;
  height: auto;
  left: 178px;
  letter-spacing: 3.20px;
  line-height: 41px;
  pointer-events: auto;
  position: absolute;
  text-align: center;
  top: 13653px;
  transition: all 0.2s ease;
  white-space: nowrap;
  width: auto;
}
.tripwise .httpswwwfigmaco-ownpage-id03-a1-C61RwL:hover {

transform: scale(1.1);
}
.tripwise .ilike2x-C61RwL {
  background-color: transparent;
  height: 537px;
  left: 147px;
  object-fit: cover;
  position: absolute;
  top: 4149px;
  width: 731px;
}
.tripwise .interview2x-C61RwL {
  background-color: transparent;
  height: 574px;
  left: 147px;
  object-fit: cover;
  position: absolute;
  top: 2847px;
  width: 789px;
}
.tripwise .lo-fi-app-sketches-C61RwL {
  background-color: transparent;
  height: auto;
  left: 610px;
  letter-spacing: 10.00px;
  line-height: 51px;
  position: absolute;
  text-align: left;
  top: 7345px;
  white-space: nowrap;
  width: auto;
}
.tripwise .lofisketches2x-C61RwL {
  background-color: transparent;
  height: 1032px;
  left: 121px;
  object-fit: cover;
  position: absolute;
  top: 7474px;
  width: 1679px;
}
.tripwise .mimainlogo2x-lvXcn7 {
  background-color: transparent;
  bottom: calc(47.73% - 35px);
  cursor: pointer;
  height: 73px;
  left: 230px;
  object-fit: cover;
  pointer-events: auto;
  position: absolute;
  transition: all 0.2s ease;
  width: 55px;
}
.tripwise .mimainlogo2x-lvXcn7:hover {

transform: scale(1.1);
}
.tripwise .path-6301-S1sbze {
  background-color: transparent;
  height: 76px;
  left: 1px;
  object-fit: cover;
  position: absolute;
  top: 0px;
  width: 69px;
}
.tripwise .path-6302-S1sbze {
  background-color: transparent;
  bottom: calc(46.69% - 24px);
  height: 52px;
  left: calc(18.30% - 9px);
  object-fit: cover;
  position: absolute;
  width: 49px;
}
.tripwise .path-6303-S1sbze {
  background-color: transparent;
  bottom: calc(43.51% - 22px);
  height: 50px;
  left: calc(29.87% - 6px);
  object-fit: cover;
  position: absolute;
  width: 21px;
}
.tripwise .path-6304-S1sbze {
  background-color: transparent;
  bottom: 1px;
  height: 74px;
  left: calc(39.12% - 24px);
  object-fit: cover;
  position: absolute;
  width: 61px;
}
.tripwise .path-6305-S1sbze {
  background-color: transparent;
  bottom: calc(48.32% - 24px);
  height: 51px;
  object-fit: cover;
  position: absolute;
  right: calc(39.92% - 34px);
  width: 84px;
}
.tripwise .path-6306-S1sbze {
  background-color: transparent;
  height: calc(100.00% - 47px);
  object-fit: cover;
  position: absolute;
  right: calc(27.36% - 6px);
  top: 23px;
  width: 21px;
}
.tripwise .path-6307-S1sbze {
  background-color: transparent;
  bottom: calc(48.22% - 25px);
  height: 53px;
  object-fit: cover;
  position: absolute;
  right: 54px;
  width: 49px;
}
.tripwise .path-6308-S1sbze {
  background-color: transparent;
  bottom: calc(48.16% - 25px);
  height: 52px;
  object-fit: cover;
  position: absolute;
  right: 0px;
  width: 52px;
}
.tripwise .path-6309-UYZBzt {
  background-color: transparent;
  height: 19px;
  left: calc(29.97% - 6px);
  object-fit: cover;
  position: absolute;
  top: 3px;
  width: 19px;
}
.tripwise .path-6310-UYZBzt {
  background-color: transparent;
  bottom: 1px;
  height: 19px;
  object-fit: cover;
  position: absolute;
  right: calc(27.47% - 5px);
  width: 19px;
}
.tripwise .primatrix22x-C61RwL {
  background-color: transparent;
  height: 540px;
  left: 1020px;
  object-fit: cover;
  position: absolute;
  top: 4149px;
  width: 780px;
}
.tripwise .problem-statement-C61RwL {
  background-color: transparent;
  height: auto;
  left: 583px;
  letter-spacing: 10.00px;
  line-height: 25px;
  position: absolute;
  text-align: left;
  top: 3855px;
  white-space: nowrap;
  width: auto;
}
.tripwise .problems2x-C61RwL {
  background-color: transparent;
  height: 532px;
  left: 498px;
  object-fit: cover;
  position: absolute;
  top: 10768px;
  width: 924px;
}
.tripwise .project-overvie-their-specific-C61RwL {
  background-color: transparent;
  height: auto;
  left: 120px;
  letter-spacing: 4.00px;
  line-height: 25px;
  position: absolute;
  text-align: left;
  top: 386px;
  white-space: nowrap;
  width: auto;
}
.tripwise .projects-9tmuuW {
  background-color: transparent;
  height: calc(100.00% + 2px);
  left: calc(32.64% - 25px);
  letter-spacing: 0.00px;
  line-height: 14px;
  position: absolute;
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: 77px;
}
.tripwise .projects-9wlfIU {
  background-color: transparent;
  height: calc(100.00% + 2px);
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 61px;
  pointer-events: auto;
  position: absolute;
  text-align: left;
  top: 0px;
  transition: all 0.2s ease;
  white-space: nowrap;
  width: calc(100.00% + 2px);
}
.tripwise .projects-9wlfIU:hover {

transform: scale(1.1);
}
.tripwise .protoimage2x-C61RwL {
  background-color: transparent;
  height: 583px;
  left: 120px;
  object-fit: cover;
  position: absolute;
  top: 1154px;
  width: 825px;
}
.tripwise .rectangle-1-C61RwL {
  background-color: var(--eerie-black);
  height: 14382px;
  left: 0px;
  position: absolute;
  top: 117px;
  width: 1920px;
}
.tripwise .rectangle-2-C61RwL {
  background-color: var(--pomegranate);
  height: 52px;
  left: 0px;
  position: absolute;
  top: 14447px;
  width: 1920px;
}
.tripwise .rectangle-94-C61RwL {
  background-color: var(--azalea);
  height: 117px;
  left: 498px;
  position: absolute;
  top: 0px;
  width: 101px;
}
.tripwise .rectangle-95-C61RwL {
  background-color: var(--azalea);
  height: 117px;
  left: 120px;
  position: absolute;
  top: 0px;
  width: 101px;
}
.tripwise .research-questi-l-the-users-maj-C61RwL {
  background-color: transparent;
  height: 813px;
  left: 1029px;
  letter-spacing: 4.00px;
  line-height: 25px;
  overflow: hidden;
  position: absolute;
  text-align: left;
  top: 1984px;
  width: 720px;
}
.tripwise .scenario2x-C61RwL {
  background-color: transparent;
  height: 537px;
  left: 1083px;
  object-fit: cover;
  position: absolute;
  top: 5502px;
  width: 717px;
}
.tripwise .screen-shot-202-17-at-33030-pm-C61RwL {
  background-color: transparent;
  height: 631px;
  left: 443px;
  object-fit: cover;
  position: absolute;
  top: 11573px;
  width: 330px;
}
.tripwise .screen-shot-202-17-at-33040-pm-C61RwL {
  background-color: transparent;
  height: 627px;
  left: 780px;
  object-fit: cover;
  position: absolute;
  top: 12225px;
  width: 329px;
}
.tripwise .screen-shot-202-17-at-33048-pm-C61RwL {
  background-color: transparent;
  height: 631px;
  left: 1115px;
  object-fit: cover;
  position: absolute;
  top: 12225px;
  width: 330px;
}
.tripwise .screen-shot-202-17-at-33054-pm-C61RwL {
  background-color: transparent;
  height: 629px;
  left: 1451px;
  object-fit: cover;
  position: absolute;
  top: 11573px;
  width: 330px;
}
.tripwise .screen-shot-202-17-at-33142-pm-C61RwL {
  background-color: transparent;
  height: 627px;
  left: 779px;
  object-fit: cover;
  position: absolute;
  top: 11573px;
  width: 329px;
}
.tripwise .screen-shot-202-17-at-33149-pm-C61RwL {
  background-color: transparent;
  height: 631px;
  left: 1115px;
  object-fit: cover;
  position: absolute;
  top: 11573px;
  width: 330px;
}
.tripwise .screen-shot-202-17-at-33207-pm-C61RwL {
  background-color: transparent;
  height: 629px;
  left: 107px;
  object-fit: cover;
  position: absolute;
  top: 12225px;
  width: 330px;
}
.tripwise .screen-shot-202-17-at-33212-pm-C61RwL {
  background-color: transparent;
  height: 631px;
  left: 443px;
  object-fit: cover;
  position: absolute;
  top: 12225px;
  width: 330px;
}
.tripwise .screen-shot-202-17-at-33224-pm-C61RwL {
  background-color: transparent;
  height: 629px;
  left: 1451px;
  object-fit: cover;
  position: absolute;
  top: 12225px;
  width: 330px;
}
.tripwise .screen-shot-202-17-at-33232-pm-C61RwL {
  background-color: transparent;
  height: 631px;
  left: 443px;
  object-fit: cover;
  position: absolute;
  top: 12878px;
  width: 330px;
}
.tripwise .screen-shot-202-17-at-33237-pm-C61RwL {
  background-color: transparent;
  height: 627px;
  left: 780px;
  object-fit: cover;
  position: absolute;
  top: 12878px;
  width: 329px;
}
.tripwise .screen-shot-202-17-at-33250-pm-C61RwL {
  background-color: transparent;
  height: 631px;
  left: 1115px;
  object-fit: cover;
  position: absolute;
  top: 12878px;
  width: 330px;
}
.tripwise .screen-shot-202-17-at-33255-pm-C61RwL {
  background-color: transparent;
  height: 629px;
  left: 1451px;
  object-fit: cover;
  position: absolute;
  top: 12878px;
  width: 330px;
}
.tripwise .screen-shot-202-17-at-33306-pm-C61RwL {
  background-color: transparent;
  height: 629px;
  left: 107px;
  object-fit: cover;
  position: absolute;
  top: 12878px;
  width: 330px;
}
.tripwise .screen-shot-202-17-at-35041-pm-C61RwL {
  background-color: transparent;
  height: 629px;
  left: 107px;
  object-fit: cover;
  position: absolute;
  top: 11573px;
  width: 330px;
}
.tripwise .skills-9tmuuW {
  background-color: transparent;
  height: calc(100.00% + 2px);
  letter-spacing: 0.00px;
  line-height: 14px;
  position: absolute;
  right: calc(33.62% - 17px);
  text-align: left;
  top: 0px;
  white-space: nowrap;
  width: 52px;
}
.tripwise .skills-ERWTZa {
  background-color: transparent;
  height: calc(100.00% + 2px);
  left: 0px;
  letter-spacing: 0.00px;
  line-height: 61px;
  pointer-events: auto;
  position: absolute;
  text-align: left;
  top: 0px;
  transition: all 0.2s ease;
  white-space: nowrap;
  width: calc(100.00% + 2px);
}
.tripwise .skills-ERWTZa:hover {

transform: scale(1.1);
}
.tripwise .socialinsta2x-gNMGaF {
  background-color: transparent;
  height: 100%;
  left: 0px;
  object-fit: cover;
  position: absolute;
  top: 0px;
  width: 20px;
}
.tripwise .sociallinkedin2x-gNMGaF {
  background-color: transparent;
  height: 100%;
  object-fit: cover;
  position: absolute;
  right: 0px;
  top: 0px;
  width: 20px;
}
.tripwise .socialtwitter2x-gNMGaF {
  background-color: transparent;
  height: 100%;
  left: calc(50.00% - 12px);
  object-fit: cover;
  position: absolute;
  top: 0px;
  width: 24px;
}
.tripwise .span0-CgVAf7 {
  color: rgba(255,255,255,1.0);
  font-family: 'Helvetica-Bold', Helvetica;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
}
.tripwise .span0-GqlQjP {
  color: rgba(255,255,255,1.0);
  font-family: 'Helvetica-Bold', Helvetica;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
}
.tripwise .span0-Wge5s7 {
  color: rgba(255,255,255,1.0);
  font-family: 'Helvetica-Bold', Helvetica;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
}
.tripwise .span0-tppS61 {
  color: rgba(255,255,255,1.0);
  font-family: 'Helvetica-Bold', Helvetica;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
}
.tripwise .span1-CgVAf7 {
  color: rgba(255,255,255,1.0);
  font-family: 'Helvetica', Helvetica;
  font-size: 20px;
  font-style: normal;
}
.tripwise .span1-GqlQjP {
  color: rgba(255,255,255,1.0);
  font-family: 'Helvetica', Helvetica;
  font-size: 20px;
  font-style: normal;
}
.tripwise .span1-Wge5s7 {
  color: rgba(255,255,255,1.0);
  font-family: 'Helvetica', Helvetica;
  font-size: 20px;
  font-style: normal;
}
.tripwise .span1-tppS61 {
  color: rgba(255,255,255,1.0);
  font-family: 'Helvetica', Helvetica;
  font-size: 20px;
  font-style: normal;
}
.tripwise .span10-GqlQjP {
  color: rgba(255,255,255,1.0);
  font-family: 'Helvetica-Bold', Helvetica;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
}
.tripwise .span10-tppS61 {
  color: rgba(255,255,255,1.0);
  font-family: 'Helvetica', Helvetica;
  font-size: 20px;
  font-style: normal;
  letter-spacing: 3.60px;
}
.tripwise .span11-GqlQjP {
  color: rgba(255,255,255,1.0);
  font-family: 'Helvetica', Helvetica;
  font-size: 20px;
  font-style: normal;
}
.tripwise .span11-tppS61 {
  color: rgba(255,255,255,1.0);
  font-family: 'Helvetica', Helvetica;
  font-size: 20px;
  font-style: normal;
}
.tripwise .span12-tppS61 {
  color: rgba(255,255,255,1.0);
  font-family: 'Helvetica-Bold', Helvetica;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
}
.tripwise .span13-tppS61 {
  color: rgba(255,255,255,1.0);
  font-family: 'Helvetica', Helvetica;
  font-size: 20px;
  font-style: normal;
}
.tripwise .span2-CgVAf7 {
  color: rgba(255,255,255,1.0);
  font-family: 'Helvetica-Bold', Helvetica;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
}
.tripwise .span2-GqlQjP {
  color: rgba(255,255,255,1.0);
  font-family: 'Helvetica-Bold', Helvetica;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
}
.tripwise .span2-Wge5s7 {
  color: rgba(255,255,255,1.0);
  font-family: 'Helvetica-Bold', Helvetica;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
}
.tripwise .span2-tppS61 {
  color: rgba(255,255,255,1.0);
  font-family: 'Helvetica-Bold', Helvetica;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
}
.tripwise .span3-CgVAf7 {
  color: rgba(255,255,255,1.0);
  font-family: 'Helvetica', Helvetica;
  font-size: 20px;
  font-style: normal;
}
.tripwise .span3-GqlQjP {
  color: rgba(255,255,255,1.0);
  font-family: 'Helvetica', Helvetica;
  font-size: 20px;
  font-style: normal;
}
.tripwise .span3-tppS61 {
  color: rgba(255,255,255,1.0);
  font-family: 'Helvetica', Helvetica;
  font-size: 20px;
  font-style: normal;
}
.tripwise .span4-CgVAf7 {
  color: rgba(255,255,255,1.0);
  font-family: 'Helvetica', Helvetica;
  font-size: 20px;
  font-style: normal;
  letter-spacing: 3.52px;
}
.tripwise .span4-GqlQjP {
  color: rgba(255,255,255,1.0);
  font-family: 'Helvetica-Bold', Helvetica;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
}
.tripwise .span4-tppS61 {
  color: rgba(255,255,255,1.0);
  font-family: 'Helvetica-Bold', Helvetica;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
}
.tripwise .span5-CgVAf7 {
  color: rgba(255,255,255,1.0);
  font-family: 'Helvetica', Helvetica;
  font-size: 20px;
  font-style: normal;
}
.tripwise .span5-GqlQjP {
  color: rgba(255,255,255,1.0);
  font-family: 'Helvetica', Helvetica;
  font-size: 20px;
  font-style: normal;
}
.tripwise .span5-tppS61 {
  color: rgba(255,255,255,1.0);
  font-family: 'Helvetica', Helvetica;
  font-size: 20px;
  font-style: normal;
}
.tripwise .span6-CgVAf7 {
  color: rgba(255,255,255,1.0);
  font-family: 'Helvetica-Bold', Helvetica;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
}
.tripwise .span6-GqlQjP {
  color: rgba(255,255,255,1.0);
  font-family: 'Helvetica-Bold', Helvetica;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
}
.tripwise .span6-tppS61 {
  color: rgba(255,255,255,1.0);
  font-family: 'Helvetica-Bold', Helvetica;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
}
.tripwise .span7-CgVAf7 {
  color: rgba(255,255,255,1.0);
  font-family: 'Helvetica', Helvetica;
  font-size: 20px;
  font-style: normal;
}
.tripwise .span7-GqlQjP {
  color: rgba(255,255,255,1.0);
  font-family: 'Helvetica', Helvetica;
  font-size: 20px;
  font-style: normal;
}
.tripwise .span7-tppS61 {
  color: rgba(255,255,255,1.0);
  font-family: 'Helvetica', Helvetica;
  font-size: 20px;
  font-style: normal;
}
.tripwise .span8-CgVAf7 {
  color: rgba(255,255,255,1.0);
  font-family: 'Helvetica', Helvetica;
  font-size: 20px;
  font-style: normal;
  letter-spacing: 3.40px;
}
.tripwise .span8-GqlQjP {
  color: rgba(255,255,255,1.0);
  font-family: 'Helvetica-Bold', Helvetica;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
}
.tripwise .span8-tppS61 {
  color: rgba(255,255,255,1.0);
  font-family: 'Helvetica-Bold', Helvetica;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
}
.tripwise .span9-CgVAf7 {
  color: rgba(255,255,255,1.0);
  font-family: 'Helvetica', Helvetica;
  font-size: 20px;
  font-style: normal;
}
.tripwise .span9-GqlQjP {
  color: rgba(255,255,255,1.0);
  font-family: 'Helvetica', Helvetica;
  font-size: 20px;
  font-style: normal;
}
.tripwise .span9-tppS61 {
  color: rgba(255,255,255,1.0);
  font-family: 'Helvetica', Helvetica;
  font-size: 20px;
  font-style: normal;
}
.tripwise .storyboard-C61RwL {
  background-color: transparent;
  height: auto;
  left: 738px;
  letter-spacing: 10.00px;
  line-height: 62px;
  position: absolute;
  text-align: left;
  top: 6145px;
  white-space: nowrap;
  width: auto;
}
.tripwise .storyboard2x-C61RwL {
  background-color: transparent;
  height: 1006px;
  left: 120px;
  object-fit: cover;
  position: absolute;
  top: 6261px;
  width: 1680px;
}
.tripwise .the-tripwise-ap-specific-covid-C61RwL {
  background-color: transparent;
  color: var(--white);
  font-family: 'Helvetica', Helvetica;
  font-size: 20px;
  font-style: normal;
  height: auto;
  left: 147px;
  letter-spacing: 4.00px;
  line-height: 25px;
  position: absolute;
  text-align: center;
  top: 3935px;
  white-space: nowrap;
  width: auto;
}
.tripwise .thinks2x-C61RwL {
  background-color: transparent;
  height: 575px;
  left: 977px;
  object-fit: cover;
  position: absolute;
  top: 2846px;
  width: 822px;
}
.tripwise .titletripwise-t-one-of-the-wors-C61RwL {
  background-color: transparent;
  height: 944px;
  left: 187px;
  letter-spacing: 4.00px;
  line-height: 25px;
  overflow: hidden;
  position: absolute;
  text-align: left;
  top: 1833px;
  width: 720px;
}
.tripwise .tripwise-user-flow-C61RwL {
  background-color: transparent;
  height: auto;
  left: 597px;
  letter-spacing: 10.00px;
  line-height: 46px;
  position: absolute;
  text-align: left;
  top: 4826px;
  white-space: nowrap;
  width: auto;
}
.tripwise .tripwiselogo2x-C61RwL {
  background-color: transparent;
  height: 98px;
  left: 760px;
  object-fit: cover;
  position: absolute;
  top: 13855px;
  width: 401px;
}
.tripwise .tripwiselogo2x-VMr6Om {
  background-color: transparent;
  height: 98px;
  left: 760px;
  object-fit: cover;
  position: absolute;
  top: 213px;
  width: 401px;
}
.tripwise .usability-problems-table-C61RwL {
  background-color: transparent;
  height: auto;
  left: 490px;
  letter-spacing: 9.60px;
  line-height: 41px;
  position: absolute;
  text-align: left;
  top: 10635px;
  white-space: nowrap;
  width: auto;
}
.tripwise .user-insight-statement-C61RwL {
  background-color: transparent;
  height: auto;
  left: 538px;
  letter-spacing: 9.60px;
  line-height: 25px;
  position: absolute;
  text-align: left;
  top: 3549px;
  white-space: nowrap;
  width: auto;
}
.tripwise .userimage2x-C61RwL {
  background-color: transparent;
  height: 583px;
  left: 975px;
  object-fit: cover;
  position: absolute;
  top: 1154px;
  width: 824px;
}
.tripwise .ux-research-plan-C61RwL {
  background-color: transparent;
  height: auto;
  left: 641px;
  letter-spacing: 9.60px;
  line-height: 46px;
  position: absolute;
  text-align: left;
  top: 1841px;
  white-space: nowrap;
  width: auto;
}
.tripwise .value2x-C61RwL {
  background-color: transparent;
  height: 546px;
  left: 120px;
  object-fit: cover;
  position: absolute;
  top: 5502px;
  width: 762px;
}
.tripwise .x2-x2-priority-matrix-C61RwL {
  background-color: transparent;
  height: auto;
  left: 630px;
  letter-spacing: 9.60px;
  line-height: 41px;
  position: absolute;
  text-align: left;
  top: 9569px;
  white-space: nowrap;
  width: auto;
}
.tripwise .x2x2matrix2x-C61RwL {
  background-color: transparent;
  height: 731px;
  left: 402px;
  object-fit: cover;
  position: absolute;
  top: 9731px;
  width: 1117px;
}
